APP_NAME=TTGS2_Backend
SECRET_KEY=change-me-to-a-random-string
# DATABASE_URL=mysql+asyncmy://tbc:password@localhost/tbc
DATABASE_URL=sqlite+aiosqlite:///./database.db
ALLOWED_ORIGINS=http://localhost:5173 http://127.0.0.1:5173

SESSION_SAME_SITE=lax
SESSION_HTTPS_ONLY=false
